:root {
  --cyan: #4bc3b5;
  --milkywhite: #f1f7ed;
  --lightcyan: #91c7b1;
  --red: #b33951;
  --darkblue: #1c2c54;
  --pink: #d175b7;
}

.container-title {
  font-family: "Pangolin";
  color: var(--red);
  font-size: 4rem;
  text-align: center;
}
.container-main {
  margin-top: 25px;
}

.players-status {
  width: 6rem;
  margin: 10px 10px 10px 10px;
  text-align: center;
  margin-right: 10px;
  border-radius: 15%;
  border-width: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}
#active-x-player {
  border-color: var(--cyan);
  color: var(--cyan);
}

#active-o-player {
  border-color: var(--pink);
  color: var(--pink);
}

#inactive-x-player {
  border-color: var(--darkblue);
  font-size: 1rem;
  opacity: 50%;
}
#inactive-o-player {
  border-color: var(--darkblue);
  font-size: 1rem;
  opacity: 50%;
}

.board {
  display: grid;
  align-self: center;
  margin-top: 20px;
}

#board-3x3 {
  grid-template-columns: repeat(3, 72px);
}
#board-4x4 {
  grid-template-columns: repeat(4, 72px);
}

.square {
  display: table-cell;
  background-color: #eed15d;
  height: 70px;
  width: 70px;
  border: none;
  float: left;
  margin-right: 1px;
  margin-top: 1px;
  box-shadow: 2px 6px 10px 2px var(--red);
}

#square-xplayer {
  color: var(--cyan);
  font-size: 1.5rem;
  font-weight: bold;
}

#square-oplayer {
  color: var(--pink);
  font-size: 1.5rem;
  font-weight: bold;
}
.all-copy {
  -webkit-user-select: all; /* Chrome all / Safari all */
  -moz-user-select: all; /* Firefox all */
  -ms-user-select: all; /* IE 10+ */
  user-select: all; /* Likely future */
}

@media screen and (min-width: 667px) {
  .container {
    width: 100%;
  }
  .container-title {
    font-size: 4em;
  }
  .players-status {
    font-size: 1.7rem;
  }

  #inactive-x-player {
    border-color: var(--darkblue);
    font-size: 1.3rem;
    opacity: 50%;
  }
  #inactive-o-player {
    border-color: var(--darkblue);
    font-size: 1.3rem;
    opacity: 50%;
  }

  .board {
    display: grid;
    align-self: center;
    margin-top: 20px;
  }
  #board-3x3 {
    grid-template-columns: repeat(3, 92px);
  }
  #board-4x4 {
    grid-template-columns: repeat(4, 92px);
  }

  .square {
    height: 90px;
    width: 90px;
  }
  #square-xplayer {
    font-size: 2.5rem;
  }
  #square-oplayer {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    display: flex;
    width: 100%;
    height: 1024;
  }

}
