.square {
    height: 40px;
    width: 40px;
    border: 1px solid ;
    float: left;
    margin-right: 1px;
    margin-top: 1px; 
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
